@tailwind base;
@tailwind components;
.secondary-heading-text {
    @apply text-[22.5px] uppercase font-bold bg-clip-text text-transparent tracking-[1px] leading-[30px] inline-block bg-gradient-to-r from-[#7dd56f] to-[#28b487]
}
@tailwind utilities;

.image-wrapper {
    clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%)
}
.card-image .image-heading {
    font-size: 28px;
    text-align: right;
    bottom: 10px;
    right: 20px;
    width: 70%;
    z-index: 10;
}
.image-heading h3 span{
    padding: 10px 15px;
    line-height: 1;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
.image-heading h3 span{
    padding: 10px 15px;

    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
.hero-image .image-heading {
    font-size: 50px;
    text-align: right;
    z-index: 10;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.hero-image .image-heading h3 {
    font-size: 50px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}